{% extends 'base.html' %}

{% block content %}

<h1>Welcome to Qx</h1>
<p>Qx is a website that is designed to help you make the most of your medical visits, by sending you infrequent text messages that help you figure out if there are questions you want to ask your doctor. Right before your appointment we give both you and your doctor a list of your questions, so you can be on the same page. You can <a href="#about">learn more about Qx here.</a></p>
<section id="signup">
<h2>Sign Up</h2>
<p>To get started, sign up by telling us your phone number and your next dentist's appointment.</p>
</section>
<section id="about">
	<h2>About Qx</h2>
</section>

{% endblock content %}