.container{
	width:@large_width;
	padding:0px
}

.logo{

}
a.logo{
	text-indent: -30000px;
	overflow: hidden;
}

.logo-qx{
	background-image:url('../i/qx-logo-large.png');
	background-repeat:no-repeat;
	background-position: center center;
	width:450px;
	height:150px;
	display: block;
}

.footer{
	background-color: @primary_color;
	margin-top: @space_size;
	margin-bottom: @space_size;
	.logo-qx{
		background-image:url('../i/qx-logo-small.png');
		width:155px;
		height:60px;
		float:right;
		background-color: #FFF;
	}
}